table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;    
}

th {
  background-color:#72a6f9;
}

table {
  margin: 20px auto;
  cursor: default;
}

tr:nth-child(2n+1) {
  background-color:#a9c9fc;
}